/*
 */
.button {
    color:white;
    text-align:center;
    vertical-align:middle;
    height:30px;
    width:10%;
    float:left;
    margin:10px;
}

.button-text {
    color:white;
}

.button-add {
    background-color:green;
    width:100%
}

.button-red {
    background-color:red;
}

.button-yellow {
    background-color:yellow;
}

.button-blue {
    background-color:blue;
}

/*
 * After the tag using this has closed, revert everything.
 * This allows to create a new line after the buttons
 */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div.scrollable {
    overflow-y:auto;
}
