html body {
height: 100%;
}

/*
 */
.button {
    color:white;
    text-align:center;
    vertical-align:middle;
    height:45px;
    width:100%;
    float:left;
    /*margin:10px;*/
}

.button-text {
    color:white;
}

.button-add {
    background-color:green;
    position:fixed;
    left:0px;
    bottom:0px;
}

.button-red {
    background-color:red;
}

.button-yellow {
    background-color:yellow;
}

.button-green {
    background-color:green;
}

.button-blue {
    background-color:blue;
}


.header-bg {
    background-color:#eee;
}

/*
 * After the tag using this has closed, revert everything.
 * This allows to create a new line after the buttons
 */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.zahlung {
    font-family:monospace;
    text-align:right;
}

.summe {
    font-weight:bold;
    border-top:1px solid #000000;
}

.scrollable{
    overflow-x:hidden;
    overflow-y:auto;
    height:60vh;
}

.scrollable thead {
    position:sticky;
    top:0;
    height:25px;
    background-color:#eee;
    text-align:left;
}


.scrollable table {
    border-collapse:collapse;
    width:100%; 
    table-layout:fixed;
}

.scrollable tbody {
}

.scrollable table tbody tr:nth-child(even) {
    background-color:#cde;
}

.menubox {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.filterbutton {
        display: table-cell;
        padding: 10px;
        background-color:blue;
        color:white;
        vertical-align: middle;
        height:100%;
        border-radius:10px;
}

#filterbox {
    border: 2px dashed;
}

#monthselector {
    /*visibility:visible;*/
}

#yearselector {
    /*visibility:visible;*/
}

#filterselector {
    display:flex;
    justify-content:center;
}

.filter {
    width:10%;
    margin-left:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    text-align:center;
}

.filtersel {
    background-color:#7C7C7C;
}

.filterunsel {
    background-color:#BFBFBF;
}

.visible {
    visibility:visible;
}

.hidden {
    visibility:hidden;
}
